.pvk{
     padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-top: 30px;
    margin-right: 50px;
    margin-bottom: 40px;
    margin-left: 60px;
    border: 5px solid black;
    background-color: lightblue;
}